@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #A78BFA;
    --dark-color: #111827;

}

body {
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif
}
.container {
    display: block;
    text-align: center;
    max-width: 50%;
    margin: auto;
    
}
.input {
    display: block;
    max-width: 100%;
    padding : 0.5rem 1rem;
    text-align: center;
    margin: auto;

}

.input-btn {
    display: block;
    padding: 1% 2%;
    font-size: large;
    font-weight: bold;
    margin: 1rem auto;
    background-color: var(--dark-color);
    color: var(--primary-color);
    border-radius: 1rem;
}

.msg-box {
    border: 1px solid var(--dark-color);
    font-size: large;
    font-weight: bold;
    padding: 1rem 1rem;
}


